
/* Smartphones (portrait and landscape) ----------- */
 @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 480px) {

    .testimonial-container {
        margin: 0;
        padding: 4rem 2rem;
    }
    .testimonial-item {
        flex-direction: column-reverse;
        margin: 0;
        padding: 1rem;
    }
    .testimonial-projects img {
        margin: 0;
        height: 278px;
        width: auto;
    }
    .testimonial-items {
        width: 100%;
        margin-top: -4rem;
    }
    .testimonial-items p {
        padding: 0;
        margin-bottom: 1rem;
    }    

}

/* Tablets (portrait and landscape) ----------- */
@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) {
 
    .testimonials {
        width: 100%;
        padding-bottom: 4rem;
    }
    .testimonial-container {
        margin: 0;
        padding: 4rem 0;
    }
}